@import "../../../assets/scss/variables.scss";

.Toolbar {
  display: flex;
  justify-content: space-between;

  .controls {
    display: flex;
    gap: 10px;

    .select {
      width: 135px;
      max-width: 135px;
      color: white;
      font-size: 14px;
      height: 32px;
      max-height: 32px;

      .StyledBox {
        background: $accent1;
      }

      &::placeholder {
        color: white;
      }
    }

    .button {
      font-size: 14px;
      height: 32px;
      border-radius: 5px;
      color: white;
      padding: 0 5px !important;
    }
  }
}
